* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-optical-sizing: auto;
}

.navbar__container img {
    height: 50px;
    border-radius: 50%;
}

.navbar {
    background: #F7F7F7;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.fa-gem {
    margin-right: 0.5rem; 
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn { 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: black;
    color: white;
    position: relative;
}

.button::after {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    top: 5px;
    left: 5px;
    z-index: -1;
    border-radius: 4px;
    position: absolute;
}

.button:hover {
    background: white;
    color: black;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: black;
    transition: all 0.3s ease;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.3s ease;
        height: 50vh;
        z-index: -1;
        background: #EFEFEF;
    }

    .navbar__menu.active {
        background: #F7F7F7;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #000000;
    }

    .navbar__item {
        width: 100%;

    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 80px;
        margin: 0;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

.sez3 .container_immagine {
    width: 100%;
    height: 40vh;
    overflow: hidden;
}

.testo {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    position: absolute;
    z-index: 3;
}

.testo h1 {
    font-size: 4rem;
    color: white;
    z-index: 1;
    font-weight: bold;
    margin-bottom: 10px;
    
}

.testo p {
    font-size: 1.2rem;
    color: white;
    z-index: 1;
}

.container_immagine img{
    width: 100%;
    height: auto;
    transform: translateY(-50px); /*forse un po' da rivedere sta parte*/
    z-index: -20;
    filter: brightness(50%);
}

.onda3 svg{
    fill: white;
    margin-top: 5vh;
    width: 100%;
    height: 100%;
    
}

.onda3 {
    fill: white;
    scale: -1;
    height: 5vh;
}

.sez2 .onda {
    width: 100%;
    height: 5vh;
    overflow: hidden;
    background-color: #F7F7F7;
}

.sez2 .onda svg {
    height: 100%;
    width: 100%;
    fill: white;
}

.sez2 {
    background: #F7F7F7;
}

.sez2 .onda1 {
    height: 5vh;
    overflow: hidden;
    background-color: white;
}

.sez2 .onda1 svg {
    height: 100%;
    width: 100%;
    fill: #F7F7F7;
}

.sez1 {
    background: white;
    margin: 0;
}

.box_motivo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}

.contenuto {
    font-size: 1.2rem;
    justify-content: space-between;
}

.contenuto h1, .box_sitografia h1 {
    font-weight: bold;
    font-size: 2.8rem;
    margin-bottom: 10px;
}



.contenuto p {
    margin-bottom: 20px;
    margin-top: 20px;
}

.box_sitografia {
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}

.box_sitografia .contenuto {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 40px;
    font-size: 1.2rem;
}
  
.left-text {
    margin-right: 20px;
}

.right-text {
    margin-left: 0px;
}